#git ignore link: https://www.atlassian.com/git/tutorials/saving-changes/gitignore

.idea/
settings.dev.yml
settings.prod.yml

#python cache
__pycache__/

#database and postgres environment
sqlite3.db
.env

#media files
media/

#django app migration files
migrations/
/migrations/*
!/migrations/__init__.py
